
.editor-control {
    margin: 0 auto;
    width: 95%;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    box-sizing: border-box;
    overflow: hidden;
}
.editor-content {
    margin: 0 auto;
    width: 95%;
    height: 35rem;
    border-right: 0.1rem solid #e6e6e669;
    border-bottom: 0.1rem solid #e6e6e669;
    border-left: 0.1rem solid#e6e6e669;
    box-sizing: border-box;
    overflow-y: auto;
}
.inline-style-control {
  width: 100%;
  background-color: #e6e6e669;
  box-sizing: border-box;
}
.inline-style-control > span {
  padding: 0.6rem;
  display: inline-block;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: bold;
  color: #e0e0e0;
}
.inline-style-control > span:hover {
  color: #585353;
}